# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# DB runtime
*.sqlite3
*.sqlite3-wal
*.sqlite3-shm

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temp
/tmp/
